In [ ]:
import pandas as pd

df = pd.read_csv('food_sales.csv')
df.head(10)

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,07-03-2022,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,5,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening
5,6,11/14/2022,Vadapav,Fastfood,20,10,200,Cash,Mr.,Evening
6,7,05-03-2022,Sugarcane juice,Beverages,25,9,225,Cash,Mr.,Evening
7,8,12/22/2022,Panipuri,Fastfood,20,14,280,Online,Mr.,Night
8,9,06-10-2022,Panipuri,Fastfood,20,1,20,Cash,Mrs.,Morning
9,10,9/16/2022,Panipuri,Fastfood,20,5,100,Online,Mr.,Afternoon

In [ ]:
df.tail(10)

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
990,991,1/18/2023,Sandwich,Fastfood,60,7,420,Cash,Mrs.,Night
991,992,10/21/2022,Sandwich,Fastfood,60,5,300,Cash,Mr.,Morning
992,993,7/17/2022,Frankie,Fastfood,50,3,150,Online,Mrs.,Night
993,994,11-01-2022,Panipuri,Fastfood,20,2,40,Online,Mrs.,Evening
994,995,6/18/2022,Sugarcane juice,Beverages,25,1,25,Online,Mr.,Night
995,996,3/19/2023,Frankie,Fastfood,50,10,500,NaN,Mrs.,Evening
996,997,9/20/2022,Sandwich,Fastfood,60,7,420,NaN,Mr.,Evening
997,998,1/26/2023,Sandwich,Fastfood,60,13,780,NaN,Mr.,Evening
998,999,8/27/2022,Panipuri,Fastfood,20,5,100,NaN,Mrs.,Afternoon
999,1000,5/29/2022,Aalopuri,Fastfood,20,3,60,Online,Mrs.,Midnight

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1000 non-null   int64
 1   date                1000 non-null   object
 2   item_name           1000 non-null   object
 3   item_type           1000 non-null   object
 4   item_price          1000 non-null   int64
 5   quantity            1000 non-null   int64
 6   transaction_amount  1000 non-null   int64
 7   transaction_type    893 non-null    object
 8   received_by         1000 non-null   object
 9   time_of_sale        1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.3+ KB

In [ ]:
df.describe(include='all')

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
count,1000.000000,1000,1000,1000,1000.000000,1000.000000,1000.000000,893,1000,1000
unique,NaN,348,7,2,NaN,NaN,NaN,2,2,5
top,NaN,8/31/2022,Cold coffee,Fastfood,NaN,NaN,NaN,Cash,Mr.,Night
freq,NaN,8,161,686,NaN,NaN,NaN,476,512,205
mean,500.500000,NaN,NaN,NaN,33.315000,8.162000,275.230000,NaN,NaN,NaN
std,288.819436,NaN,NaN,NaN,14.921744,4.413075,204.402979,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,20.000000,1.000000,20.000000,NaN,NaN,NaN
25%,250.750000,NaN,NaN,NaN,20.000000,4.000000,120.000000,NaN,NaN,NaN
50%,500.500000,NaN,NaN,NaN,25.000000,8.000000,240.000000,NaN,NaN,NaN
75%,750.250000,NaN,NaN,NaN,50.000000,12.000000,360.000000,NaN,NaN,NaN
max,1000.000000,NaN,NaN,NaN,60.000000,15.000000,900.000000,NaN,NaN,NaN

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.isnull().sum()

order_id                0
date                    0
item_name               0
item_type               0
item_price              0
quantity                0
transaction_amount      0
transaction_type      107
received_by             0
time_of_sale            0
dtype: int64

In [ ]:
df['date'] = pd.to_datetime(df['date'].str.replace('/', '-'))
df['month'] = df['date'].dt.strftime('%b')           # e.g., Jan, Feb, ...
df['year'] = df['date'].dt.year                      # e.g., 2022, 2023
df['month_year'] = df['date'].dt.strftime('%b %Y')

In [ ]:
df.head(10)

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale,month,year,month_year
0,1,2022-07-03,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night,Jul,2022,Jul 2022
1,2,2022-08-23,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon,Aug,2022,Aug 2022
2,3,2022-11-20,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon,Nov,2022,Nov 2022
3,4,2023-02-03,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night,Feb,2023,Feb 2023
4,5,2022-10-02,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening,Oct,2022,Oct 2022
5,6,2022-11-14,Vadapav,Fastfood,20,10,200,Cash,Mr.,Evening,Nov,2022,Nov 2022
6,7,2022-05-03,Sugarcane juice,Beverages,25,9,225,Cash,Mr.,Evening,May,2022,May 2022
7,8,2022-12-22,Panipuri,Fastfood,20,14,280,Online,Mr.,Night,Dec,2022,Dec 2022
8,9,2022-06-10,Panipuri,Fastfood,20,1,20,Cash,Mrs.,Morning,Jun,2022,Jun 2022
9,10,2022-09-16,Panipuri,Fastfood,20,5,100,Online,Mr.,Afternoon,Sep,2022,Sep 2022

In [ ]:
df.tail()

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
995,996,None,Frankie,Fastfood,50,10,500,NaN,Mrs.,Evening
996,997,None,Sandwich,Fastfood,60,7,420,NaN,Mr.,Evening
997,998,None,Sandwich,Fastfood,60,13,780,NaN,Mr.,Evening
998,999,None,Panipuri,Fastfood,20,5,100,NaN,Mrs.,Afternoon
999,1000,None,Aalopuri,Fastfood,20,3,60,Online,Mrs.,Midnight

In [ ]:
df["transaction_type"] = df["transaction_type"].fillna("unknown")

In [ ]:
df.tail(5)

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale,month,year,month_year
995,996,2023-03-19,Frankie,Fastfood,50,10,500,not available,Mrs.,Evening,Mar,2023,Mar 2023
996,997,2022-09-20,Sandwich,Fastfood,60,7,420,not available,Mr.,Evening,Sep,2022,Sep 2022
997,998,2023-01-26,Sandwich,Fastfood,60,13,780,not available,Mr.,Evening,Jan,2023,Jan 2023
998,999,2022-08-27,Panipuri,Fastfood,20,5,100,not available,Mrs.,Afternoon,Aug,2022,Aug 2022
999,1000,2022-05-29,Aalopuri,Fastfood,20,3,60,Online,Mrs.,Midnight,May,2022,May 2022

In [ ]:
df.isnull().sum()

order_id              0
date                  0
item_name             0
item_type             0
item_price            0
quantity              0
transaction_amount    0
transaction_type      0
received_by           0
time_of_sale          0
month                 0
year                  0
month_year            0
dtype: int64

In [ ]:
def gender(a):
    if a=="Mrs.":
        return "Female"
    else:
        return "Male"

In [ ]:
df.loc[:,"received_by"] = df.loc[:,"received_by"].map(gender)

In [ ]:
df.head(15)

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale,month,year,month_year
0,1,2022-07-03,Aalopuri,Fastfood,20,13,260,not available,Male,Night,Jul,2022,Jul 2022
1,2,2022-08-23,Vadapav,Fastfood,20,15,300,Cash,Male,Afternoon,Aug,2022,Aug 2022
2,3,2022-11-20,Vadapav,Fastfood,20,1,20,Cash,Male,Afternoon,Nov,2022,Nov 2022
3,4,2023-02-03,Sugarcane juice,Beverages,25,6,150,Online,Male,Night,Feb,2023,Feb 2023
4,5,2022-10-02,Sugarcane juice,Beverages,25,8,200,Online,Male,Evening,Oct,2022,Oct 2022
5,6,2022-11-14,Vadapav,Fastfood,20,10,200,Cash,Male,Evening,Nov,2022,Nov 2022
6,7,2022-05-03,Sugarcane juice,Beverages,25,9,225,Cash,Male,Evening,May,2022,May 2022
7,8,2022-12-22,Panipuri,Fastfood,20,14,280,Online,Male,Night,Dec,2022,Dec 2022
8,9,2022-06-10,Panipuri,Fastfood,20,1,20,Cash,Female,Morning,Jun,2022,Jun 2022
9,10,2022-09-16,Panipuri,Fastfood,20,5,100,Online,Male,Afternoon,Sep,2022,Sep 2022
10,11,2022-12-01,Frankie,Fastfood,50,8,400,Online,Female,Afternoon,Dec,2022,Dec 2022
11,12,2022-07-12,Vadapav,Fastfood,20,8,160,Online,Female,Night,Jul,2022,Jul 2022
12,13,2022-12-22,Panipuri,Fastfood,20,9,180,Online,Female,Afternoon,Dec,2022,Dec 2022
13,14,2022-11-25,Frankie,Fastfood,50,4,200,Online,Male,Morning,Nov,2022,Nov 2022
14,15,2023-02-03,Aalopuri,Fastfood,20,3,60,Cash,Female,Evening,Feb,2023,Feb 2023

In [ ]:
df.to_csv('data_bersih.csv', index=False)

In [ ]:
from google.colab import files
files.download('data_bersih.csv')